/*
 * set style of the menu bar
 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/*
 * set orientation of the menu items, in this case to the left side
 */
li{
    float: left;
}

/*
 * set style
 */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*
 * set the background color if the cursor on a menu item
 */
li a:hover {
    background-color: #111;
}

/*
 * set style for titel in menu-bar
 */
.menuRight{
    float: right;
    color: white;
    padding: 10px 16px;
    font-size:20px;
}

/*
 * set style for linechart
 */
.linechart{
    margin-right: 3em;
}

#left_col {
    float:left;
    width:30%;
}

#right_col {
    float:right;
    width:70%;
}









